body {
    margin: 0;
    background: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5d328;
    padding: 15px 40px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}

.logo-text {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    color: red;
    font-family: "Playpen Sans", cursive;
}
.nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a {
    margin: 0 20px;
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 18px;
    font-family: "Playpen Sans", cursive;

}